body {
    display: flex;
    margin: 0;
}

.sidebar {
    width: 40vw;
    height: 100vh;
    background-image: url(./background-image.avif);
    background-repeat: no-repeat;
    background-size: 40vw 100vh;
    position: relative;
}

@font-face {
    font-family: "Norse Bold";
    src: url(./Norse-Bold.otf);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 8px 0;
    height: 15vh;
    font-family: "Norse Bold";
}

.icon div {
    font-size: 10vh;
}

.odin-icon {
    height: 15vh;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #eff0f1;
    gap: 10px;
    font-family: ubuntu;
}

.notice {
    margin: 50px 60px 20px 25px;
}

.form {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 10px #cccccc;
}

.form-header {
    margin-bottom: 20px;
}

fieldset {
    border: none;
    padding: 0;
    display: flex;
    gap: 10px 40px;
    flex-wrap: wrap;
    width: 60%;
}

.input {
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    letter-spacing: 1.5px;
}

input {
    border: solid 1px #E5E7EB;
    border-radius: 3px;
    padding: 2px 3px;
}

input:invalid {
    border-color: rgb(219, 0, 0);
}

input:focus {
    outline: none;
    border: solid 1px rgb(0, 89, 255);
    box-shadow: 1px 1px 2px black;
}

.create {
    align-self: baseline;
    margin: 25px 0px 10px 25px;
    border-radius: 8px;
    padding: 12px 45px;
    border: none;
    background-color: #596D48;
    color: white;
    font-weight: bold;
}

.login {
    margin: 0px 25px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}