body {
    display: flex;
    margin: 0;
}

.sidebar {
    width: 40vw;
    height: 100vh;
    background-image: url(./background-image.avif);
    background-repeat: no-repeat;
    background-size: contain;
}